<div class="card-body">
  <h5 class="card-title" appHighlight>{{ product.name }}</h5>
  <p>
    <small> categoryId: {{ product.categoryId }}</small>
  </p>
  <p>
    {{ product.quantityPerUnit | uppercase }}
  </p>
  <p appHighlight>
    {{ product.unitPrice | currency : "₺" : "symbol" }}
  </p>
  <p>{{ dateNow | date : "M/d/yy" }}</p>
  <p class="card-text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, magnam.
  </p>
  <a (click)="addToCartClick()" class="btn btn-dark">Add to cart</a>
</div>
