<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">Etiya</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li *ngFor="let navItem of navItems" class="nav-item">
          <!-- angular içerisinde routing yaparken hyperlink referans kullanmak yasak routerlink kullanmalıyız
          <a class="nav-link" href="/">Home</a>-->
          <a
            class="nav-link"
            aria-current="page"
            [routerLink]="navItem.routerLink"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: navItem.isRouterActiveExact }"
            >{{ navItem.label }}</a
          >
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-light" type="submit">Search</button>
      </form>
      <div class="dropdown pl-2">
        <button
          class="btn btn-secondary dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <i class="fa-solid fa-cart-shopping"></i> Sepet ({{ cartLength }})
        </button>
        <ul class="dropdown-menu">
          <li *ngFor="let item of cartItems" class="">
            <a class="dropdown-item text-wrap"
              >{{ item.product.name }} - {{ item.quantity }}</a
            >
          </li>
          <button class="btn btn-dark w-100" routerLink="cart-summary">
            go to cart
          </button>
        </ul>
      </div>
    </div>
  </div>
</nav>
